{% extends 'base.html.twig' %}
{% block title %}
    Voir les biens
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Tous les biens</h1>
    </div>
    <div class="container">
        {% if order == 'DESC' %}
        <a href="{{ path("products.sorted") }}" class="btn btn-info">Croissant</a>
        {% else %}
        <a href="{{ path("products.index") }}" class="btn btn-info">Décroissant</a>
        {% endif %}
        <div class="row">

        {% for product in products %}
            <div class="col-md-4">
            <a href="{{ path('products.show', {id: product.id, slug: product.slug}) }}">

                <div class="card mt-4" style="width: 18rem; min-height: 100px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h6 class="card-subtitle mt-4 mb-2 text-muted">{{ product.price }} €</h6>
                        <div class="text-right">

                            <a href="#" class="card-link">Partager</a>
                            <a href="#" class="card-link">Acheter</a>
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}